// COLOR

$color-primary-light: #a3d2ca;
$color-primary-dark: #5eaaa8;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-green: #029E4C;
 
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 0;
$gutter-horizontal: 2rem;